#div-input::before {
    content: '';
    display: block;
    border-top: 1px solid rgba(128, 128, 128, 0.4);
    width: calc(100% + 20px);
    position: absolute;
    top: -10px;
    left: -10px;
}

#div-input {
    width: calc(100% - 20px);
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.4);
    position: fixed;
    bottom: 0;
    margin: 10px;
    padding: 5px 10px;
    background-color: var(--vscode-input-background, #ffffff);
}

#div-input:focus-within {
    border: 1px solid var(--vscode-button-hoverBackground, #5a4579);
}

#ta-prompt-input {
    width: 100%;
    max-height: 500px;
    scrollbar-width: thin;
    padding: 10px 5px;
    box-sizing: border-box;
    color: var(--vscode-input-foreground, #616161);
    background-color: var(--vscode-input-background, #ffffff);
    border-radius: 4px;
    resize: none;
    border: none;
}

#ta-prompt-input:focus {
    outline: none;
}

#div-options {
    display: flex;
    justify-content: space-between;
    color: var(--vscode-disabledForeground, rgba(97, 97, 97, 0.5));
    align-items: center;
}

#model-select {
    margin: 5px;
    position: relative;
    cursor: pointer;
}

#model-select:hover #model-option {
    display: block;
}

#model-select:hover {
    color: var(--vscode-foreground, #616161);
}

#model-option {
    display: none;
    width: auto;
    position: absolute;
    bottom: 100%;
    left: 0;
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 4px;
    background-color: var(--vscode-dropdown-background, #f5f5f5);
}

#model-list {
    list-style: none;
    max-height: 220px;
    overflow-y: auto;
    scrollbar-width: thin;
}

#model-list li, #add-model, #load-config {
    width: auto;
    white-space: nowrap;
    padding: 6px 12px;
    cursor: pointer;
}

#model-list li span {
    margin-left: 2px;
}

#model-list li:hover, #model-option div:hover {
    background-color: rgba(128, 128, 128, 0.1);
}

#model-list li.selected {
    background-color: var(--vscode-list-activeSelectionBackground, #c4d9b1);
}

#add-model, #load-config {
    border-top: 1px solid rgba(128, 128, 128, 0.2);
}

/* #model-selected-value {
    max-width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
} */

#send-prompt {
    user-select: none;
    margin: 5px;
    cursor: pointer;
}

#send-prompt:hover {
    color: var(--vscode-foreground, #616161);
}