.dropup-box {
    cursor: pointer;
    position: relative;
}

.dropup-box:hover {
    color: var(--vscode-foreground, #616161);
}

.dropup-option {
    display: none;
    width: auto;
    position: absolute;
    bottom: 100%;
    left: 0;
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 4px;
    background-color: var(--vscode-dropdown-background, #f5f5f5);
}

.dropup-list {
    list-style: none;
    max-height: 240px;
    max-width: calc(100vw - 60px);
    overflow-y: auto;
    scrollbar-width: thin;
}

.dropup-list li, .droup-option div {
    width: auto;
    white-space: nowrap;
    padding: 6px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropup-list li span {
    margin-left: 2px;
    margin-right: 8px;
}

.dropup-list li:hover {
    background-color: rgba(128, 128, 128, 0.15);
}

#div-input::before {
    content: '';
    display: block;
    border-top: 1px solid rgba(128, 128, 128, 0.4);
    width: calc(100% + 20px);
    position: absolute;
    top: -10px;
    left: -10px;
}

#div-input {
    width: calc(100% - 20px);
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.4);
    position: fixed;
    bottom: 0;
    margin: 10px;
    box-shadow: 0 0 0 10px var(--vscode-sideBar-background, #ffffff);
    padding: 10px;
    background-color: var(--vscode-input-background, #ffffff);
}

#div-input ul, #div-input ol {
    margin: 0;
    padding: 0;
}

#div-input:focus-within {
    border: 1px solid var(--vscode-button-hoverBackground, #5a4579);
}

#div-control-upper {
    padding: 0 5px 5px 5px;
    color: var(--vscode-disabledForeground, rgba(97, 97, 97, 0.5));
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#context-select {
    margin: auto 5px;
    width: auto;
    color: var(--vscode-foreground, #616161);
}

#add-context:hover {
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.15);
}

#context-option {
    bottom: 140%;
}

#context-option li span{
    border-radius: 5px;
    border: 1px solid transparent;
}

#context-option li.selected span{
    border: 1px solid var(--vscode-button-hoverBackground, #5a4579);
}

#context-option li.selected sub{
    border-bottom: 1px solid var(--vscode-button-hoverBackground, #5a4579);
}

#context-list li sub{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: rtl;
    text-align: left;
}

.selected-context {
    border-radius: 5px;
    padding: 4px;
    margin: 2px;
    box-sizing: border-box;
    color: var(--vscode-foreground, #616161);
    background-color: rgba(128, 128, 128, 0.1);
}

.selected-context:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.2);
}

#ta-prompt-input {
    width: 100%;
    max-height: 500px;
    line-height: 1.5em;
    scrollbar-width: thin;
    padding: 5px;
    box-sizing: border-box;
    color: var(--vscode-input-foreground, #616161);
    background-color: var(--vscode-input-background, #ffffff);
    border-radius: 4px;
    resize: none;
    border: none;
}

#ta-prompt-input:focus {
    outline: none;
}

#div-control-lower {
    display: flex;
    justify-content: space-between;
    margin: auto 5px;
    color: var(--vscode-disabledForeground, rgba(97, 97, 97, 0.5));
    align-items: center;
}

#model-select:hover #model-option {
    display: block;
}

#add-model, #load-config {
    width: auto;
    white-space: nowrap;
    padding: 6px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#model-option div:hover {
    background-color: rgba(128, 128, 128, 0.1);
}

#add-model, #load-config {
    border-top: 1px solid rgba(128, 128, 128, 0.2);
}

#model-list li.selected {
    background-color: var(--vscode-list-activeSelectionBackground, #c4d9b1);
}

#model-list li span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#model-list li svg:last-child {
    display: none;
    margin-left: auto;
}

#model-list li:hover svg:last-child {
    display: inline-block;
}

#model-list li:hover svg:last-child:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

#model-selected {
    display: inline-block;
    max-width: calc(70vw - 21px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#send-prompt {
    user-select: none;
    cursor: pointer;
}

#send-prompt:hover {
    color: var(--vscode-foreground, #616161);
}